*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* styles */

.json-editor {
  font-family: "Lucida Console", Monaco, monospace;
}

:root {
  --green: #690;
  --red: #bd6476;
  --blue: #07a;
  --grey: rgb(109, 109, 109);
  --grey-dark: hsla(0, 0%, 90%, 1);
  --grey-light: hsla(0, 0%, 80%, 0.4);
  --action-red: hsla(0, 0%, 90%, 1);
  --action-green: #690;
  --height: 20px;
}

.entry-line {
  margin-left: 2ch;
  display: block;
  position: relative;
}

.json-editor .name {
  color: var(--green);
}

.json-editor .value {
  color: var(--blue);
}
.json-editor .number.value {
  color: var(--red);
}

.json-editor input {
  box-shadow: inset 0px -1px 0px 0px #a7a7a7;
  border: none;
  outline: none;
  max-height: 20px;
  color: inherit;
  background: inherit;
}

.value input:focus,
.value input:active {
  box-shadow: inset 0px -1px 0px 0px var(--blue);
}

.json-editor .icon-button {
  height: var(--height);
  padding: 0;
  margin: 0;
  line-height: 15px;
  border-radius: 5px;
  outline: 0;
  -webkit-appearance: none;
  border: none;
  box-shadow: 0 0 2px var(--grey);
  height: 15px;
  width: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-button svg {
  height: 100%;
  width: 100%;
}

.json-editor .icon-button:active,
.json-editor .icon-button:focus {
  box-shadow: inset 0 0 3px var(--blue);
}

.start-paren:hover .icon-button {
  display: inline-block;
  pointer-events: all;
  opacity: 1;
}
.start-paren {
  width: 5px;
}
.start-paren .icon-button {
  opacity: 0;
  pointer-events: none;
}

.collapsed .icon-button::after,
.collapsed .icon-button::before {
  display: none;
}
.collapsed .icon-button {
  opacity: 0;
  pointer-events: none !important;
}

.collapsed .start-paren {
  width: 10px;
}
.collapsed .adder-group {
  display: none;
}

.collapsed * {
  pointer-events: none;
}

.bg.collapsed:hover {
  background: var(--grey-light);
  border-radius: 5px;
}

.collapsed > * {
  display: inline-block;
  margin-left: 0px;
}

.null-value {
  color: var(--grey);
  font-style: italic;
}

.name:hover .deleteProp {
  opacity: 1;
}

.deleteProp {
  opacity: 0;
  display: inline-block;
  margin-right: 1px;
  background: var(--action-red);
  position: absolute;
  left: -22px;
  top: 2px;
}

.array .deleteProp:hover {
  opacity: 1;
}

.closing-group {
  position: relative;
}
.closing-group > .icon-button {
  opacity: 0;
  position: absolute;
  bottom: 1px;
}

.closing-group:hover > .icon-button {
  opacity: 1;
}

.type-select {
  background: white;
  border: none;
  box-shadow: 0 0 2px var(--grey);
  width: 15px;
  color: inherit;
  background: inherit;
}

.json-editor .value:hover {
  background: var(--grey-light);
  cursor: pointer;
}
.json-editor .value.editable {
  background: inherit;
}

.start-paren {
  color: hsl(0, 0%, 45%);
}

.grey {
  color: hsl(0, 0%, 45%);
}
