@import "./reset.css";

/* styles */

.json-editor {
  font-family: "Lucida Console", Monaco, monospace;
}

:root {
  --green: rgb(21, 133, 15);
  --red: #bd6476;
  --red-bg: hsla(348, 40%, 57%, 0.25);
  --blue: #07a;
  --grey: hsl(0, 0%, 45%);
  --grey-dark: hsla(0, 0%, 90%, 1);
  --grey-light: hsla(0, 0%, 92%);
  --action-red: hsla(0, 0%, 90%, 1);
  --action-green: #690;
  --color-icon: var(--grey);

  --height: 20px;
}
.json-editor .value {
  color: var(--green);
}

.json-editor .name {
  color: var(--green);
}

.json-editor input {
  border: none;
  max-height: 25px;
  color: inherit;
  background: unset;
}

input:placeholder-shown {
  background: yellow;
  border: 1px solid #ccc;
}

input:invalid {
  background: var(--red-bg);
  border: 1px solid var(--red);
  outline-color: var(--red-bg) !important;
}
input[type="text"] {
  min-width: 2ch;
  max-width: 40ch;
}

input[type="text"]:focus {
  min-width: 2ch;
  max-width: 100%;
}

.json-editor .number.value {
  color: var(--red);
}

.json-editor .icon-button {
  height: var(--height);
  padding: 0;
  margin: 0;
  border-radius: 3px;
  outline: 0;
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  cursor: pointer;
  color: var(--color-icon);
}

.icon-button svg {
  height: 100%;
  width: 100%;
}

.grey {
  color: var(--grey);
}

.row .type-select-wrapper {
  opacity: 0.17;
}

.row:focus-within .type-select-wrapper,
.row:hover .type-select-wrapper {
  opacity: 1;
}
.row:hover .type-select-wrapper,
.row:focus-within .type-select-wrapper,
.row:focus .type-select-wrapper,
.row:focus-within,
.row:focus,
.row:hover {
  background: hsla(0, 0%, 96%, 1);
}

.row {
  padding-top: 3px;
  padding-bottom: 3px;
}
.json-editor *:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color: rgba(21, 156, 228, 0.4);
  outline-offset: 0;
}

.type-select {
  border: none;
  margin: 0;
  background: none;
  -webkit-appearance: none;
  box-shadow: none;
  color: black;
  width: 23px;
  font-family: "Lucida Console", Monaco, monospace;
}

.type-select-wrapper {
  background: white;
}

input:hover {
  box-shadow: 0px 0px 5px 0px #979797de;
}

.checkbox-label:focus-within {
  outline-style: solid;
  outline: -webkit-focus-ring-color auto 5px;
  position: relative;
}

.checkbox-label {
  position: relative;
  color: var(--blue);
}
.checkbox-label input[type="checkbox"] {
  outline: none;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  width: 100%;
}
